main{
    margin-top:30px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

main .navigation{
    flex:1 1 350px;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:start;
}

main .view-container{
    flex:51  1000px;
    padding:10px;
    margin-right: 20px;
}

main .navigation .btn{

    padding: 7px 12px;
    border-radius:15px;
    transition-duration: 0.1s;
    background-color:brown;
    color:orange;
    margin-left:5px;
    margin-top:5px;
}

main .navigation .clicked{
    background-color: darkgreen;
    color: orange;
    transition-duration: 0.1s;
    box-shadow: 0px 1px 1px black;
    padding: 7px 12px;
    border-radius:15px;
    margin-left:30px;
    margin-top:5px;
}

main .navigation .btn:hover{
    background-color:darkred;
    color: orange;
    box-shadow: 0px 3px 3px black;
    padding: 8px 13px;
}

main .gradient-border-mask {
    backdrop-filter: blur(10px);
}

main .gradient-border-mask::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    border: 3px solid transparent;
    background: linear-gradient(140deg, red, orange, yellow, green, indigo, blue) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

main .view {
    padding:10px ;
    width: 100%;
}