* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
}

.task {
    width: max-content;
    background-color: green;
    color: white;
    padding: 50px;
    margin-bottom: 10px;
    width: 500px;
    height: 300px;
    overflow-y:scroll;
}

.task  div {
    margin-top: 10px;
}

#box {
    background-color: chartreuse;
    width: 50px;
    height: 50px;
}

#boxes {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 30px);
}